# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
aniso8601=9.0.1=pypi_0
anyio=4.7.0=pypi_0
argon2-cffi=23.1.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
arrow=1.3.0=pypi_0
asgiref=3.8.1=pypi_0
asttokens=3.0.0=pyhd8ed1ab_1
async-lru=2.0.4=pypi_0
attrs=24.3.0=pypi_0
babel=2.16.0=pypi_0
beautifulsoup4=4.12.3=pypi_0
bleach=6.2.0=pypi_0
blinker=1.9.0=pypi_0
bzip2=1.0.8=h2bbff1b_6
ca-certificates=2024.11.26=haa95532_0
certifi=2024.12.14=pypi_0
cffi=1.17.1=pypi_0
charset-normalizer=3.4.0=pypi_0
click=8.1.7=pypi_0
colorama=0.4.6=pyhd8ed1ab_1
comm=0.2.2=pyhd8ed1ab_1
cpython=3.10.15=py310hd8ed1ab_2
debugpy=1.8.9=py310h9e98ed7_0
decorator=5.1.1=pyhd8ed1ab_1
defusedxml=0.7.1=pypi_0
django=5.1.4=pypi_0
exceptiongroup=1.2.2=pyhd8ed1ab_1
executing=2.1.0=pyhd8ed1ab_1
faker=33.1.0=pypi_0
fastjsonschema=2.21.1=pypi_0
flask=3.1.0=pypi_0
flask-restful=0.3.10=pypi_0
fqdn=1.5.1=pypi_0
h11=0.14.0=pypi_0
httpcore=1.0.7=pypi_0
httpx=0.28.1=pypi_0
idna=3.10=pypi_0
importlib-metadata=8.5.0=pyha770c72_1
ipykernel=6.29.5=pyh4bbf305_0
ipython=8.30.0=pyh7428d3b_0
ipywidgets=8.1.5=pypi_0
isoduration=20.11.0=pypi_0
itsdangerous=2.2.0=pypi_0
jedi=0.19.2=pyhd8ed1ab_1
jinja2=3.1.4=pypi_0
json5=0.10.0=pypi_0
jsonpointer=3.0.0=pypi_0
jsonschema=4.23.0=pypi_0
jsonschema-specifications=2024.10.1=pypi_0
jupyter=1.1.1=pypi_0
jupyter-console=6.6.3=pypi_0
jupyter-events=0.11.0=pypi_0
jupyter-lsp=2.2.5=pypi_0
jupyter-server=2.14.2=pypi_0
jupyter-server-terminals=0.5.3=pypi_0
jupyter_client=8.6.3=pyhd8ed1ab_1
jupyter_core=5.7.2=pyh5737063_1
jupyterlab=4.3.3=pypi_0
jupyterlab-pygments=0.3.0=pypi_0
jupyterlab-server=2.27.3=pypi_0
jupyterlab-widgets=3.0.13=pypi_0
krb5=1.21.3=hdf4eb48_0
libffi=3.4.4=hd77b12b_1
libsodium=1.0.20=hc70643c_0
markupsafe=3.0.2=pypi_0
matplotlib-inline=0.1.7=pyhd8ed1ab_1
mistune=3.0.2=pypi_0
nbclient=0.10.1=pypi_0
nbconvert=7.16.4=pypi_0
nbformat=5.10.4=pypi_0
nest-asyncio=1.6.0=pyhd8ed1ab_1
notebook=7.3.1=pypi_0
notebook-shim=0.2.4=pypi_0
numpy=2.2.0=pypi_0
openssl=3.4.0=h2466b09_0
overrides=7.7.0=pypi_0
packaging=24.2=pyhd8ed1ab_2
pandas=2.2.3=pypi_0
pandocfilters=1.5.1=pypi_0
parso=0.8.4=pyhd8ed1ab_1
pickleshare=0.7.5=pyhd8ed1ab_1004
pillow=11.0.0=pypi_0
pip=24.2=py310haa95532_0
platformdirs=4.3.6=pyhd8ed1ab_1
prometheus-client=0.21.1=pypi_0
prompt-toolkit=3.0.48=pyha770c72_1
psutil=6.1.0=py310ha8f682b_0
pure_eval=0.2.3=pyhd8ed1ab_1
pycparser=2.22=pypi_0
pydantic-core=2.23.4=pypi_0
pygments=2.18.0=pyhd8ed1ab_1
python=3.10.15=h4607a30_1
python-dateutil=2.9.0.post0=pyhff2d567_1
python-json-logger=3.2.1=pypi_0
python_abi=3.10=2_cp310
pytz=2024.2=pypi_0
pywin32=307=py310h9e98ed7_3
pywinpty=2.0.14=pypi_0
pyyaml=6.0.2=pypi_0
pyzmq=26.2.0=py310h656833d_3
referencing=0.35.1=pypi_0
requests=2.32.3=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
rpds-py=0.22.3=pypi_0
scipy=1.14.1=pypi_0
send2trash=1.8.3=pypi_0
setuptools=75.1.0=py310haa95532_0
simsimd=6.2.1=pypi_0
six=1.17.0=pyhd8ed1ab_0
sniffio=1.3.1=pypi_0
soupsieve=2.6=pypi_0
sqlite=3.45.3=h2bbff1b_0
sqlparse=0.5.2=pypi_0
stack_data=0.6.3=pyhd8ed1ab_1
stringzilla=3.11.0=pypi_0
terminado=0.18.1=pypi_0
tinycss2=1.4.0=pypi_0
tk=8.6.14=h0416ee5_0
tomli=2.2.1=pypi_0
tornado=6.4.2=py310ha8f682b_0
tqdm=4.67.1=pypi_0
traitlets=5.14.3=pyhd8ed1ab_1
types-python-dateutil=2.9.0.20241206=pypi_0
typing_extensions=4.12.2=pyha770c72_1
tzdata=2024.2=pypi_0
ucrt=10.0.22621.0=h57928b3_1
uri-template=1.3.0=pypi_0
urllib3=2.2.3=pypi_0
vc=14.40=haa95532_2
vc14_runtime=14.42.34433=he29a5d6_23
vs2015_runtime=14.42.34433=hdffcdeb_23
wcwidth=0.2.13=pyhd8ed1ab_1
webcolors=24.11.1=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.8.0=pypi_0
werkzeug=3.1.3=pypi_0
wheel=0.44.0=py310haa95532_0
widgetsnbextension=4.0.13=pypi_0
xz=5.4.6=h8cc25b3_1
zeromq=4.3.5=ha9f60a1_7
zipp=3.21.0=pyhd8ed1ab_1
zlib=1.2.13=h8cc25b3_1
